<div class="Payment-container container">
    <div class="Payment-Card">
    <i class="fa-solid fa-credit-card"></i>
    <div class="Payment-Card-Text">
      <h5>Tarjeta de credito</h5>
      <p>Ver promociones bancarias</p>
    </div>
  </div>
  <div class="Payment-Card">
    <i class="fa-solid fa-credit-card"></i>
    <div class="Payment-Card-Text">
      <h5>Tarjeta de débito</h5>
      <p>Ver promociones bancarias</p>
    </div>
  </div>
  <div class="Payment-Card">
    <i class="fa-solid fa-credit-card"></i>
    <div class="Payment-Card-Text">
      <h5>Cuotas sin tarjeta</h5>
      <p>Ver promociones bancarias</p>
    </div>
  </div>
  <div class="Payment-Card">
    <i class="fa-solid fa-credit-card"></i>
    <div class="Payment-Card-Text">
      <h5>Efectivo</h5>
      <p>Ver promociones bancarias</p>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-circle-plus"></i>
  </div>
</div>
