<div class="Payment-container container">
    <div class="Payment-Card">
        <div class="d-flex align-center">
            <i class="fa-solid fa-credit-card"></i>
            <div>
                <h3>Tarjeta de credito</h3>
                <p>Ver promociones bancarias</p>
            </div>
        </div>
    </div>
    <div class="Payment-Card">
        <h3>Tarjeta de debito</h3>
        <p>Ver mas</p>
        <div>
            <i class="fa-duotone fa-credit-card"></i>
        </div>
    </div>
    <div class="Payment-Card">
        <div>
            <i class="fa-regular fa-hand-holding-dollar"></i>
            <p>Cuotas sin tarjeta</p>
        </div>
    </div>
    <div class="Payment-Card">
        <div>
            <i class="fa-regular fa-money-bill"></i>
            <p>Efectivo</p>
        </div>
    </div>
</div>